.scrollContainer {
    animation: scrollAnimation 40s linear infinite;
    overflow-x: visible;
}

@keyframes scrollAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-250%);
    }
}
